* {margin: 0;padding: 0; font-family: 'Courier New', Courier, monospace;}
li {list-style: none;}
a {text-decoration: none; color: rgb(255, 255, 255);}

.cabecalho{
    /*background-color: rgb(205, 204, 204);*/
    font-size: 24px;
    color: rgb(255, 255, 255);

    padding: 20px 100px;
    
    display: flex;
    /*justify-content: center; Alinhamento horizontal*/
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cabecalho img {
    height: 100px;
}

.cabecalho nav {
    display: flex;
    color: white;
}

.cabecalho li {
    margin: 0px 30px;
}